@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ViewData["Title"] = "Confirmation";
    //This form is for after they hit the submit button on the movies form
}
<h1>Thanks much! The movie @Model.Title has been added successfully.</h1>