@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{   
    ViewData["Title"] = "Podcasts";
    //This page links to their official bacon sale page
}
<div>
    <a href="https://baconsale.com/" target="_blank">Go to Baconsale</a>

</div>